@charset "UTF-8";
* {
    background-color: #222;
    color: #999
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.grid-item {
    text-align: center;
    font-size: 20px;
}

.full-width {
    grid-column-start: 1;
    grid-column-end: 4;
}

.hide {
    display: none;
}

@media screen and (max-width:750px){
    
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    
    .full-width {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .show {
        display: none;
    }
    
    .hide {
        display: inline;
    }
    
    .main-text {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    