@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: caviar;
    color: #888888;
}

@font-face {
    font-family: caviar;
    src: url(CaviarDreams.ttf);
}

@font-face {
    font-family: basic;
    src: url(basictitlefont.ttf);
}

body {
	height: auto;
	background-color: #333333;
}

.header {
    background-color: #191919; 
    position: fixed;
    padding: 15px;
    width: 100%;
    max-width: 850px;
    min-width: 350px;
    transform: translateX(-15px);
}

h1 {
    float: left;
    font-size: 40px;
    font-family: basic;
}

ul {
    list-style: none;
    float: right;
    padding-right: 15px;
}

li {
    float: left;
    margin: 10px;
    margin-top: 18px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #EEEEEE;   
}

.floatbreak {
    clear: both;
}

.main {
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 850px;
    min-width: 300px;
}

#background {
    margin-top: 0px;
}

h2 {  
    font-size: 35px;
}

.line {
    height: 10px;
    background-color: #333333;
    margin-top: 30px;
    margin-bottom: 30px;
}

#aboutpic {
    float:left;
    margin-right: 20px;
    width: 35%;
    height: auto;
}

h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

.bottom {
    margin-bottom: 140px;   
}

.spacer {
    height: 600px;   
}

.photo {
    float:right;
    margin-left: 15px;
    width: 50%;
    height: auto;
}

.banner {
    width: 100%;
    height: auto;
}

#farewell {
    font-size: 40px;   
    margin-top: 200px;
    margin-bottom: 180px;
}

@media screen and (max-width:771px){
    
    li {
        margin: 5px;
        margin-top: 10px;
        font-size: 15px;
    }
 
    .bottom {
        margin-bottom: 150px;
    }
    
    ul {
        
    }
}




